@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirLTStd-Black.eot");
  src: url("fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Black.woff2") format("woff2"),
    url("fonts/AvenirLTStd-Black.woff") format("woff"), url("fonts/AvenirLTStd-Black.ttf") format("truetype"),
    url("fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirLTStd-Light.eot");
  src: url("fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Light.woff2") format("woff2"),
    url("fonts/AvenirLTStd-Light.woff") format("woff"), url("fonts/AvenirLTStd-Light.ttf") format("truetype"),
    url("fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirLTStd-Heavy.eot");
  src: url("fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Heavy.woff2") format("woff2"),
    url("fonts/AvenirLTStd-Heavy.woff") format("woff"), url("fonts/AvenirLTStd-Heavy.ttf") format("truetype"),
    url("fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirLTStd-Medium.eot");
  src: url("fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Medium.woff2") format("woff2"),
    url("fonts/AvenirLTStd-Medium.woff") format("woff"), url("fonts/AvenirLTStd-Medium.ttf") format("truetype"),
    url("fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
html,
body {
  margin: 0;
}
body {
  font-family: "Avenir", "Roboto", sans-serif;
}
#container {
  background-image: url(./TTATC12_MappyMap_background_1900x2936.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1080px;
  margin: 20px auto 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  position: relative;
}

.background {
  height: 100%;
  position: relative;
  top: 0;
  z-index: 1;
}
.plot {
  z-index: 2;
}
.plot:hover {
  cursor: pointer;
}

.descriptions-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
}
.description {
  display: none;
  position: absolute;
  padding: 8px 24px 8px 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  min-width: 300px;
  border: 1px solid rgba(119, 119, 119, 0.774);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.description::after {
  content: " ";
  background: #fff;
  clip-path: polygon(20% 3%, 3% 20%, 33% 50%, 3% 80%, 20% 97%, 50% 67%, 80% 97%, 97% 80%, 67% 50%, 97% 20%, 80% 3%, 50% 33%);
  color: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 14px;
  height: 14px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  padding-left: 1px;
  border: 1px solid rgba(255, 255, 255, 0.65);
}
@media screen and (max-width: 582px) {
  .description {
    max-width: 100%;
    font-size: 6px;
    width: 50px;
    min-width: 50px;
    position: fixed;
    top: 0;
    z-index: 4;
    padding: 5px 12px 5px 8px;
  }
  .description::after {
    cursor: auto;
    width: 6px;
    height: 6px;
    font-size: 4px;
    right: 3px;
    top: 3px;
    color: rgba(255, 255, 255, 0.65);
  }
  .plot:hover {
    cursor: auto;
  }
}
